extends ../layouts/main-layout.pug 

block styles
    link(rel="stylesheet", href="/css/cart.css")

block content  
    if products.length > 0
        ul.cart__item-list 
            each productData in products
                li.cart__item 
                    h1 #{productData.productId.title} 
                    h2 Quantity: #{productData.quantity}
                    form(action="/cart-delete-item", method="POST") 
                        input(type="hidden", name="productId", value=productData.productId._id)
                        button.btn.danger(type="submit") Delete
        hr
        .centered
            form(action="/create-order", method="POST")
                button.btn(type="submit") Checkout
    else
        h1 No Products in Cart!